.recipes{
    display: grid;
    grid-template-columns:300px 300px 300px;
    grid-column-gap: 130px ;
    grid-row-gap: 50px ;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 25px;
}
.sweetLoading{
align-items: center;
display:flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100vh;
background-color:  #303030
}
.container{
    margin-top: 100px;
    /* height: 100vh; */
}

.container2{
    margin-top: 100px;
    height: 90vh;
   
}

.notFound{
    width: 500px;
    height: 150px;
    background-color: #121212;
    color: white;
    border-radius: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
     align-items:center;
     padding: 20px;
     margin-top: 90px;
}